<% include partials/header %>

<h1>This is the home page</h1>

<p>This page contains an image</p>

<img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-07/20/20/asset/buzzfeed-prod-fastlane03/sub-buzz-4127-1469062183-11.jpg?downsize=715:*&output-format=auto&output-quality=auto"></img>

<% include partials/footer %>