div {
	float: left;
}

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: 'Quicksand', sans-serif;
	margin-left: 1.66%;
	font-size: 27px;
	/*text-transform: uppercase;*/
	border-bottom: 2px solid #f2f2f2;
	width: 30%;
	padding-bottom: 15px;
}

/*
font-family: 'Quicksand', sans-serif;
font-family: 'Nunito', sans-serif;*/